$padding-1: 10px;
$padding-2: 20px;
$padding-3: 30px;
$padding-4: 40px;
$padding-5: 50px;

// Padding
.pd10 {
  padding: $padding-1!important;
}

.pd20 {
  padding: $padding-2!important;
}

.pd30 {
  padding: $padding-3!important;
}

.pd40 {
  padding: $padding-4!important;
}

.pd50 {
  padding: $padding-5!important;
}


// Padding Top
.pt10 {
  padding-top: $padding-1!important;
}

.pt20 {
  padding-top: $padding-2!important;
}

.pt30 {
  padding-top: $padding-3!important;
}

.pt40 {
  padding-top: $padding-4!important;
}

.pt50 {
  padding-top: $padding-5!important;
}

// Padding Left
.pl10 {
  padding-left: $padding-1!important;
}

.pl20 {
  padding-left: $padding-2!important;
}

.pl30 {
  padding-left: $padding-3!important;
}

.pl40 {
  padding-left: $padding-4!important;
}

.pl50 {
  padding-left: $padding-5!important;
}

// Padding Bottom
.pb10 {
  padding-bottom: $padding-1!important;
}

.pb20 {
  padding-bottom: $padding-2!important;
}

.pb30 {
  padding-bottom: $padding-3!important;
}

.pb40 {
  padding-bottom: $padding-4!important;
}

.pb50 {
  padding-bottom: $padding-5!important;
}

// Padding Right
.pr10 {
  padding-right: $padding-1!important;
}

.pr20 {
  padding-right: $padding-2!important;
}

.pr30 {
  padding-right: $padding-3!important;
}

.pr40 {
  padding-right: $padding-4!important;
}

.pr50 {
  padding-right: $padding-5!important;
}

// widths

.wd100 {
  width: 100%!important;
}

.wd90 {
  width: 90%!important;
}

.wd80 {
  width: 80%!important;
}

.wd70 {
  width: 70%!important;
}

.wd60 {
  width: 60%!important;
}

.wd50 {
  width: 50%!important;
}

.wd40 {
  width: 40%!important;
}

.wd30 {
  width: 30%!important;
}

.wd20 {
  width: 20%!important;
}


// Border Radius properties
.round16 {
  border-radius: 16px!important;
}

.round20 {
  border-radius: 20px!important;
}

.round25 {
  border-radius: 25px!important;
}

.round30 {
  border-radius: 30px!important;
}

.round35 {
  border-radius: 35px!important;
}

